@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');
html{
    background: url('../../images/background.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
body{
    padding: 0 20px 0 20px;
    justify-content:center;
    width: 70%;
    background-color: #fef6d1;
    margin-top: 20px;
    margin: auto;
    padding-top: 20px;
}

a{
    text-decoration: none;
}

a.menu{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bolder;
}

a.menu:hover {
    background: #ddd;
    color: black;
}

h1{
    padding-top: 50px;
    font-size: 50px;
	font-family: 'Great Vibes', cursive;
    font-weight: lighter;
}

img.pin{
    margin: 0;
    width: 30px;
    height: 30px;
    display: inline;
    padding-right: 10px;
}

a.anchor{
    color: black;
}

nav{
    display: block;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */

}


section.columns{
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
}

p.about{
    text-align: justify;
}

p.about::first-letter{
    font-size: xxx-large;
    font-weight: lighter;
    font-style: italic;
}

div.instagram{
    width: 100%;
    margin-right: 10px;
    text-align: right
}
p.instagram{
    text-align: right;
    text-decoration: none;
}

img#instagram{
    margin: 0 20px 0 0;
    width: 50px;
    float: right;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    width: 95%;
}

.frame{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    border-style: solid;
    border-width: thin;
    border-color: #4a4c4c;
    background-color: white;
}

h2{
    margin: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bolder;
}
p{
    margin: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bolder;
}

.date{
    margin: 10px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
}


.image{
    margin: 10px;
}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    body{
        width: 100%;
    }
    section{
        columns: 1;
    }

    a.menu{
        padding: 12px 10px;
    }
  }
