.text-info{
	color: black;
	font-size: 18px;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: 'Indie Flower', cursive;
	
}

.post-it{
	background-color: #ffc;
	margin: 5px;
	background: #ffff88; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border:1px solid #E8E8E8;
	border-bottom-right-radius: 60px 5px;
}

.instagram{
	position: relative;
	text-align: right;
	margin-right: 8%;
	width: fit-content;
	margin-left: auto;
	text-align: center;
	z-index: 0;
}


#instagram-icon{
	width: 3em;
	margin: 5px;
}

.label{
	color: black;
	font-size: 18px;
	padding: 0;
	margin-top: 5px;
	font-family: 'Indie Flower', cursive;
}


/* Gallery layout */
body{
	margin: 0px;
}

h1{
	z-index: 1;
	padding: 10px;
	margin-right:   0px;
	margin-top:   	0px;
	margin-bottom:  0px;
	color: white;
	background-color: #444;
	border-bottom: 1px gray solid;
	position: fixed;
	width: 100%;
	font-family: Sans-serif;
	font-size: 40px;
}

#title{
	z-index: 1;
	padding: 10px;
	margin-right:   0px;
	margin-top:   	0px;
	margin-bottom:  0px;
	background-color: #444;
	border-bottom: 1px gray solid;
	position: fixed;
	width: 100%;
	height: fit-content;
	
}
#name{
	float: left;
}
#title p{
	color: white;
	font-family: Sans-serif;
	font-size: 40px;
	margin: 0;
}

div.language{
	float:right;
	margin-right: 80px;
	display: flex;
  align-items: center
}
.language i{
	color: white;
	font-size: 40px;
}

.language select{
	margin-left: 10px
}

.language label{
	color: white;
	font-family: Sans-serif;
	font-size: 20px;
}

.en{
	display: block;
}

.pt{
	display: none;
}
section.content_gallery{
	background-color: #444;
	height: auto;
    -webkit-columns: 4 300px;
    -moz-columns: 4 300px;
    columns: 4 300px;
    column-gap: 1%;
	padding-top: 	80px;
}

div.GalleryPainel{
	margin: 5px;
	padding-left: 	2%;
	padding-right: 	2%;
	padding-top: 	4%;
	padding-bottom: 2%;
	display: inline-block;
	background-color: white;
}
div.GalleryFrameBG{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 2;
}

div.GalleryFrame{
	padding-left: 	1vw;
	padding-right: 	1vw;
	padding-bottom: 1vw;
	margin: 	auto;
	width:fit-content;
	background-color: white;
	border: black 1px;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

div.close_button{
	width:auto;
	height: fit-content;
	text-align: right;
}

div.slideshow-container {
  position: relative;
  margin: auto;
}

p.img_date{
	padding: 3px;
	font-style: italic;
	margin-top: 0px;
	font-family: 'Indie Flower', cursive;
}

p.img_tag{
	display: none;
	padding-top: 5px;
	padding-left: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a.close{
	width: auto;
	height: 100%;
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
}

.close:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: solid 1px gray;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

img.Gallery_img{
	max-height: 80vh;
	max-width:  80vw;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
	section.content_gallery{
		-webkit-columns: 2 100px;
		-moz-columns: 	  2 100px;
		columns: 		  2 100px;
	}
	.post-it{
		  -webkit-column-span: all; 
          column-span: all; 
	}
	img.Gallery_img{
		max-height: 90vh;
		max-width: 90vW
	}
	div.GalleryFrame{
		height: auto;
		padding-left: 	1vw;
		padding-right: 	1vw;
		padding-bottom: 1vw;
	}
	div.language{
		display:inline-flex;
		float: left;
	}
}
